@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MarkForMC';
    src: url('../../public/fonts/MarkForMC.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MarkForMC-Medium';
    src: url('../../public/fonts/MarkForMC-Med.ttf');
    font-weight: bold;
    font-style: normal;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(240, 236, 232);
    max-height: fit-content;
    font-family: 'MarkForMC', sans-serif;
}

p {
    color: var(--text-text-primary, #111) !important;
}

iframe {
    @apply min-h-[105vh];
}

@media (min-width: 641px) and (max-width: 1120px) {
    iframe {
        @apply min-h-[110vh];
    }
}

.MuiAccordion-root.custom-accordion::before {
    background-color: transparent;
}

.MuiAccordion-root.custom-accordion {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.MuiInputBase-input.MuiOutlinedInput-input {
    width: 288px;
}

.create-customer-stepper .MuiStepConnector-line {
    min-height: 0px !important;
}

.css-1aquho2-MuiTabs-indicator {
    background-color: #2d7763 !important;
}

.css-1hgnj26-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #2d7763 !important;
}

.css-1xqtpac-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
    color: #2d7763 !important;
    font-weight: 600;
}

.css-1hgnj26-MuiButtonBase-root-MuiTab-root {
    width: 33%;
}

.css-rorn0c-MuiTableContainer-root {
    margin-top: -2rem;
}
